{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static static '/styles.css' %}">
  <title>Mechassit</title>
</head>
<body>
  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{% static 'images/logo.png' %}" alt="">
        </span>
        <div class="text logo-text">
          <span class="name">Mechassit</span>
          <span class="profession" style="color: #0094FF;">Tu auto, tu elección</span>
        </div>
      </div>
    </header>

    <button class="open-button" onclick=openForm()>Exchange Bot!</button>

    <div class="chat-popup" id="chatbotpanel">
        <form class="form-chatbot" > 
            <iframe class = "chatbot-window" src='https://webchat.botframework.com/embed/lenguajeUMFA-bot?s=Z9OF1TgOblM.9jnrAMNseuDItmzlUPdXwGbgf8N4fXed6kQJCgLfVmo'></iframe>
          <button type="button" class="btn_cancel" onclick=closeForm()>Cerrar Bot</button>
        </form>
    </div>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link profile">
            <a href="{% url 'ctalleres' %}">
              <i class='bx bx-search icon'></i>
              <span class="text nav-text">Talleres</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'ccalendario' %}">
              <i class='bx bx-time icon'></i>
              <span class="text nav-text">Citas</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'cvehiculos' %}">
              <i class='bx bx-car icon'></i>
              <span class="text nav-text">Vehículos</span>
            </a>
          </li>
          </li>
          <li class="nav-link">
            <a href="{% url 'cperfil' %}">
              <i class='bx bx-edit icon'></i>
              <span class="text nav-text">Perfil</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'login' %}">
              <i class='bx bx-log-out icon'></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="home">
    <div class="form-container">
      <form id="search-form" style="display: flex; align-items: center;">
        <div class="form-group">
          <label for="search-name">Nombre:</label>
          <input type="text" id="search-name" placeholder="Escribe el nombre..." required autocomplete="off">
        </div>
        <div class="form-group">
          <label for="search-cp">Código Postal (CP):</label>
          <input type="text" id="search-cp" placeholder="Escribe el CP..." required autocomplete="off">
        </div>
        <div class="form-actions">
          <button type="button" id="search-button" class="btn btn-primary">Buscar</button>
          <button type="button" id="clear-button" class="btn btn-primary">Limpiar</button>
        </div>
      </form>
    </div>
    <br>
    <ul class="talleres-list">
      {% for taller in talleres %}
        <li class="taller" data-rating="{{ taller.calidad|default:'0'|add:0 }}">
          <h3 class="taller-name">
            <a href="{% url 'agendar_citas' taller.user.username %}" class="taller-name">{{ taller.user.username }}</a>
          </h3>
          <p class="taller-telefono">Teléfono: {{ taller.telefono }}</p>
          <p class="taller-direccion">Dirección: {{ taller.direccion }}</p>
          <p class="taller-cp">Código Postal (CP): {{ taller.cp }}</p>
          <span class="star-rating">

          </span>
        </li>
      {% endfor %}
    </ul>
  </section>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    // Función para realizar la búsqueda
    function performSearch() {
      // Obtiene los valores de los campos de búsqueda
      const name = $('#search-name').val().toLowerCase();
      const cp = $('#search-cp').val().toLowerCase();
      const rating = $('input[name="rating"]:checked').val();

      // Filtra los elementos de la lista de talleres
      $('.taller').each(function () {
        const taller = $(this);
        const tallerName = taller.find('.taller-name').text().toLowerCase();
        const tallerCP = taller.find('.taller-cp').text().toLowerCase();
        const tallerRating = taller.data('rating');

        // Comprueba si el taller coincide con los criterios de búsqueda
        const nameMatch = name === '' || tallerName.includes(name);
        const cpMatch = cp === '' || tallerCP.includes(cp);
        const ratingMatch = !rating || tallerRating >= rating;

        // Muestra u oculta el taller según los resultados de la búsqueda
        if (nameMatch && cpMatch && ratingMatch) {
          taller.show();
        } else {
          taller.hide();
        }
      });
    }

    // Maneja el evento de clic en el botón de búsqueda
    $('#search-button').click(function () {
      performSearch();
    });

    // Maneja el evento de clic en el botón de limpiar
    $('#clear-button').click(function () {
      // Limpia los valores de los campos de búsqueda
      $('#search-name').val('');
      $('#search-cp').val('');
      $('input[name="rating"]').prop('checked', false);

      // Restaura la visibilidad de todos los talleres
      $('.taller').show();
    });
  });
</script>
 <!-- BotScript files-->
 <script>
    function openForm() {
      document.getElementById("chatbotpanel").style.display = "block";
      document.getElementById('open-button').classList.add('chat-open');
    }

    function closeForm() {
      document.getElementById("chatbotpanel").style.display = "none";
      document.getElementById('open-button').classList.remove('chat-open');
    }
  </script>